@page
@model LoginModel

@{
    Layout = "_NoMenu";
    ViewData["Title"] = "Sign in";
}

<section class="position-relative h-100">
    <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url(../../img/account/signin-bg.jpg);"></div>

    <!-- Sign in form -->
    <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
        <div class="w-100 align-self-end  pt-md-4 pb-4 " style="max-width: 526px;">
            <h1 class="text-center text-xl-start">Welcome Back</h1>
            <p class="text-center text-xl-start pb-3 mb-3">Don’t have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register here.</a></p>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form class="needs-validation mb-2" method="post" id="account">
                <div class="position-relative mb-4">
                    <label asp-for="Input.Email" for="email" class="form-label fs-base">Email</label>
                    <input asp-for="Input.Email" type="email" id="email" class="form-control form-control-lg" required autocomplete="email" aria-required="true" placeholder="name@example.com" />
                </div>
                <span asp-validation-for="Input.Email" class="invalid-feedback position-absolute start-0 top-100"></span>
                <div class="mb-4">
                    <label for="password" class="form-label fs-base">Password</label>
                    <div class="password-toggle">
                        <input asp-for="Input.Password" type="password" id="password" class="form-control form-control-lg" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                            <input class="password-toggle-check" type="checkbox" autocomplete="current-password" aria-required="true" placeholder="password">
                            <span class="password-toggle-indicator"></span>
                        </label>
                        <span asp-validation-for="Input.Password" class="invalid-feedback position-absolute start-0 top-100"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-check">
                        <input type="checkbox" id="remember" class="form-check-input" asp-for="Input.RememberMe" />
                        <label for="remember" class="form-check-label fs-base">Remember me</label>
                    </div>
                </div>
                <button type="submit" id="login-submit" class="btn btn-primary shadow-primary btn-lg w-100">Sign in</button>
            </form>
            <a asp-page="./ForgotPassword" class="btn btn-link btn-lg w-100">Forgot your password?</a>
            <hr class="my-4">
            <h6 class="text-center mb-4">Or sign in with your social network</h6>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col mb-3">
                        <button type="submit" name="provider" value="@Model.ExternalLogins.First().Name"href="#" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
                            <i class="bx bxl-google fs-xl me-2"></i>
                            Google
                        </button>
                    </div>
                    <div class="col mb-3">
                        <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg w-100">
                            <i class="bx bxl-facebook fs-xl me-2"></i>
                            Facebook
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Background -->
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
