<html data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <title>OldBarom - Login</title>
    
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Old Barom" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="js/theme-switcher.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png" />
    <link rel="manifest" href="~/favicon/site.webmanifest" />
    <link rel="mask-icon" href="~/favicon/favicon.ico" />

    <meta name="msapplication-TileColor" content="#080032"/>
    <meta name="msapplication-config" content="~/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#fff"/>

    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OldBarom.Web.Portifolio.styles.css" asp-append-version="true" />

    <link rel="stylesheet" media="screen" href="~/css/theme.min.css" />
    
    <script>
        (function () {
            window.onload = function () {
                const preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 1000);
            };
        })();
    </script>
</head>
<body>
    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
   <main class="page-wrapper">
       @RenderBody()
   </main>
   <script src="~/js/theme.min.js"></script>
</body>

</html>